.expense-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5.5rem;
  height: 5.5rem;
  border: 1.5px solid #532a18;
  background-color: #947d72;
  color: #fff;
  border-radius: 12px;
}

.expense-date-month {
  font-size: 0.75rem;
  font-weight: bold;
}

.expense-date-year {
  font-size: 0.75rem;
}
.expense-date-day {
  font-size: 1.5rem;
  font-weight: bold;
}